@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}
.hero {
  background-image: url("/background.jpeg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* card  */
.product-card {
  background-color: #ffffff00;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-image {
  width: 100%;
  height: 1000%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-info {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.product-title {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 0.9em;
  color: #666;
}

.btn-more {
  padding: 10px;
  text-align: center;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-more:hover {
  background-color: #2980b9;
}
/* card */
/* horizontal scrolling */
.slider {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: calc(18 * 190px);
  animation: scrollVertical 17s linear infinite;
  -webkit-animation: scrollVertical 17s linear infinite;
}
.slide {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scrollVertical {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-190 * 9px));
    -webkit-transform: translateX(calc(-190 * 9px));
    -moz-transform: translateX(calc(-190 * 9px));
    -ms-transform: translateX(calc(-190 * 9px));
    -o-transform: translateX(calc(-190 * 9px));
  }
}
.slider::before,
.slider::after {
  /* background: linear-gradient(
    to right,
    rgb(3 3 3) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}
/* horizontal scrolling */
section {
  width: 100%;
  display: grid;
  place-items: center;
}
.section-heading {
  @apply text-[40px] md:text-[70px] lg:text-[100px] font-bold text-center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 50%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #728fa0 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
.card p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #cecece;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  padding: 16px;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
