@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}
body{
  background-color: aliceblue;
}
.marked{
  position: relative;
  z-index: 1;
}
.marked::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  background-color: rgb(137, 164, 238);
  z-index: -1;
  left: 0px;
  top: 10px;
  border-radius: 61% 39% 76% 24% / 75% 18% 82% 45% ;
  -webkit-border-radius: 61% 39% 76% 24% / 75% 18% 82% 45% ;
  -moz-border-radius: 61% 39% 76% 24% / 75% 18% 82% 45% ;
  -ms-border-radius: 61% 39% 76% 24% / 75% 18% 82% 45% ;
  -o-border-radius: 61% 39% 76% 24% / 75% 18% 82% 45% ;
}
.logo{
  font-family: 'Noto Sans JP';
}